/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background-color: #333;
    color: yellow;
    padding: 100px 0;
    text-align: center;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header p {
    font-size: 24px;
}

/* About Section */
#about {
    padding: 50px 0;
    background: #f4f4f4;
    text-align: center;
}

#about h2 {
    font-size: 36px;
}

#about p {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

/* Skills Section */
#skills {
    padding: 50px 0;
    text-align: center;
}

#skills h2 {
    font-size: 36px;
}

.skill-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.skill {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
}

/* Projects Section */
#projects {
    padding: 50px 0;
    background: #f4f4f4;
    text-align: center;
}

#projects h2 {
    font-size: 36px;
}

.project-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.project {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

/* Contact Section */
#contact {
    padding: 50px 0;
    text-align: center;
}

#contact h2 {
    font-size: 36px;
}

#contact p {
    font-size: 18px;
}

#contact a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
